@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    body {
      @apply overflow-auto   
    }
  }


  /* width */
::-webkit-scrollbar {
  width: 10px;
  border-radius: 10%;

}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10%;

}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #00b050;
  border-radius: 10%;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #00b050;
  border-radius: 10%;
}