# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/inpowerh/bot.inpowerhr.com"
PassengerBaseURI "/"
PassengerNodejs "/home/inpowerh/nodevenv/bot.inpowerhr.com/20/bin/node"
PassengerAppType node
PassengerStartupFile bot.js
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
