# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/inpowerh/api.inpowerhr.com"
PassengerBaseURI "/"
PassengerNodejs "/home/inpowerh/nodevenv/api.inpowerhr.com/20/bin/node"
PassengerAppType node
PassengerStartupFile app.js
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
